<!-- Fondo oscuro para cerrar el carrito al hacer clic fuera -->
<div class="cart-overlay" id="cartOverlay" (click)="toggleCart()"></div>

<!-- Contenedor flotante del carrito -->
<div class="cart-container">
    <img src="https://i.pinimg.com/736x/27/b5/c8/27b5c85e70c94d27a97d22f32be291a5.jpg" alt="Carrito" class="cart-icon"
        (click)="toggleCart()">

    <!-- Contenedor de los datos del carrito -->
    <div class="cart-dropdown" id="cartDropdown">
        <h3>Tu Carrito</h3>
        <div *ngIf="cartItems.length > 0; else emptyCart">
            <ul>
                <li *ngFor="let item of cartItems; let i = index" class="cart-item">
                    <img [src]="item.images[0]" alt="Producto" class="cart-img" />

                    <div class="cart-info">
                        <div class="cart-name">{{ item.name }}</div>
                        <div class="cart-price">{{ item.price | currency:'EUR' }} x {{ item.quantity }}</div>
                        <div class="cart-controls">
                            <button (click)="decreaseQuantity(i)">➖</button>
                            <span>{{ item.quantity }}</span>
                            <button (click)="increaseQuantity(i)">➕</button>
                            <button (click)="removeItem(i)">❌</button>
                        </div>
                    </div>
                </li>

            </ul>

            <!--CUPON DESCUENTO-->
            <!-- Campo de cupón -->
            <div class="coupon-section">
                <input type="text" [(ngModel)]="couponCode" placeholder="Introduce tu cupón" />
                <button (click)="applyCoupon()">Aplicar</button>
            </div>

            <!-- Mensajes de validación -->
            <div *ngIf="validCouponMessage" class="success-message">{{ validCouponMessage }}</div>
            <div *ngIf="invalidCouponMessage" class="error-message">{{ invalidCouponMessage }}</div>


            <h3>Total: {{ totalPrice | currency:'EUR' }}</h3>
            <!-- <button class="checkout-button" (click)="checkout()">Finalizar Compra</button> -->
            <button class="checkout-button" routerLink="checkout" routerLinkActive="activarLink">Comprar</button>
        </div>
        <ng-template #emptyCart>
            <p>Tu carrito está vacío</p>
        </ng-template>
    </div>
</div>